@font-face {
    font-family: 'Madimi One';
    src: url("https://fonts.googleapis.com/css2?family=Madimi+One&display=swap");
}

body {
    text-align: center;
    justify-content: center;
    background-image: url("penguin warriors UI .png");
    margin: 0;
    padding: 0;
    font-family: 'Madimi One', sans-serif;
}


#title {
  font-size: 36px;
  color: #ffffff;
  position: absolute;
  top: 15%; /* Adjust this value as needed to control the vertical position */
  left: 50%;
  transform: translate(-50%, -50%); /* Centers the text horizontally */
  -webkit-text-stroke: 0.1px rgb(0, 0, 0);
  text-shadow: 
      0 0 5px rgba(255, 255, 255, 0.8), 
      0 0 15px rgba(255, 255, 255, 0.8), 
      0 0 25px rgba(255, 255, 255, 0.8), 
      0 0 10px black;
}

.button.ice {
    border: 1px solid rgb(255, 255, 255);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    transform: skewX(-10deg);
    zoom: 1.5;
    height: 50px;
    width: 180px;
    border-radius: 20px 5px 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    font: 15px sans-serif;
    font-weight: 300;
    text-shadow: 0 0 20px #c90000;
    text-transform: uppercase;
    animation: breath2 2s 0.5s infinite alternate;
    transition: all 0.2s ease;
    cursor: pointer;
    position: absolute;
    top: 63%; 
    right: 70%; /* Adjusted initial right position */
    font-family: 'Madimi One', sans-serif;
    font-size: 110%;
    color: #ffffff;
}
  
  .button.ice:before {
    content: "";
    display: block;
    width: calc(100% - 22px);
    height: calc(50px - 8px);
    animation: breath 2s infinite alternate;
    left: 10px;
    top: 3px;
    position: absolute;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 15px 3px 15px 3px;
  }
  
  .button.ice:before {
    box-shadow: inset 0 0 30px 0 #a8ecff;
  }

  .button:hover.ice {
    box-shadow: 0 0 70px rgba(48, 138, 255, 0.75),
      0 5px 20px rgba(48, 138, 255, 0.75), inset 0 1px #a8ecff,
      inset 0 -1px #a8ecff;
  }
  
  .button:hover.ice:before {
    box-shadow: inset 0 0 50px 0 #a8ecff;
  }
  
  
  .button + .button {
    animation-delay: 0.3s;
  }
  
  @media (max-width: 767px) {
    body {
      flex-direction: column;
      justify-content: center;
    }
  
    .button + .button {
      margin-top: 30px;
    }
  }
  @keyframes breath {
    0% {
      transform: scaleX(1);
    }
    100% {
      transform: scaleX(0.95);
    }
  }
  
  @keyframes breath2 {
    0% {
      transform: skewX(-10deg) scaleX(1);
    }
    100% {
      transform: skewX(-10deg) scaleX(0.95);
    }
  }

  .button.another {
    border: 1px solid rgb(255, 255, 255);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    transform: skewX(-10deg);
    zoom: 1.5;
    height: 50px;
    width: 180px;
    border-radius: 20px 5px 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    font: 15px sans-serif;
    font-weight: 300;
    text-shadow: 0 0 20px #cb0000;
    text-transform: uppercase;
    animation: breath2 2s 0.5s infinite alternate;
    transition: all 0.2s ease;
    cursor: pointer;
    position: absolute;
    top: 63%; 
    right: 9%;
    font-family: 'Madimi One', sans-serif;
    font-size: 110%;
    color: #ffffff;
}
  
.button.another:before {
    content: "";
    display: block;
    width: calc(100% - 22px);
    height: calc(50px - 8px);
    animation: breath 2s infinite alternate;
    left: 10px;
    top: 3px;
    position: absolute;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 15px 3px 15px 3px;
}

.button.another:before {
    box-shadow: inset 0 0 30px 0 #a8ecff;
}

.button.another:hover{
    box-shadow: 0 0 70px rgba(48, 138, 255, 0.75),
        0 5px 20px rgba(48, 138, 255, 0.75), inset 0 1px #a8ecff,
        inset 0 -1px #a8ecff;
}

.button.another:hover:before {
    box-shadow: inset 0 0 50px 0 #a8ecff;
}

.button.another + .button.another {
    animation-delay: 0.3s;
}


* {
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
  }
  
  body {
    margin: 0;
    padding: 0;
    background-image: url("resources/penguin warriors UI .png");
    background-size: cover; /* Scales the image to cover the entire background */
    background-position: center center; /* Centers the image */
    background-repeat: no-repeat; /* Ensures the image doesn't repeat */
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  
  .wrap {
    position: relative;
    height: 100%;
  }
  
